/* PosicionesConstructores.css */
.constructor-card {
  border: 1px solid #4c4c4c;
  padding: 10px;
  background-color: #fff;
  border-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 20px;
  border-bottom: 0px;

}

