/* Navbar.css */

.navbar-container nav {
  background-color: #37394b;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Hacer que los elementos ul se muestren como una fila */
}

.navbar-container li {
  display: inline-block; /* Mostrar los elementos li en línea */
  position: relative; /* Para posicionar el menú desplegable */
}

.navbar-container a,
.navbar-container .dropdown-title {
  color: white;
  text-decoration: none;
  display: block; /* Hacer que el enlace ocupe todo el espacio del li */
  padding: 10px;
}

.navbar-container li:hover {
  background-color: #00001b;
}

.navbar-container a:hover,
.navbar-container .dropdown-title:hover {
  color: #fd4a42;
}

/* Estilos para el menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #37394b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; /* Posicionar debajo del elemento padre */
  left: 0; /* Alinear con el borde izquierdo del elemento padre */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #00001b;
  color: #fd4a42;
}

.dropdown:hover .dropdown-content {
  display: block;
}
