/* RaceCalendar.css */

.race-calendar {
  margin-top: 20px;
}

.race-calendar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.race-calendar table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.race-calendar th, .race-calendar td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.race-calendar th {
  background-color: #f4f4f4;
}

.flag-icon {
  height: 25px;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 5px;
  border: solid black 1px;
}
